
{% extends 'base.html' %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

          	<p>El CMS <strong>WordPress</strong> es actualmente la plataforma CMS mas utilizada y popular. Actualmente es la mayor plataformas utilizada para la creación de portales y páginas Web. WordPress nació especializada en crear portales de Blog pero poco a poco ha ido aumentando sus funcionalidades hasta el día de hoy que ofrece una total funcionalidad para hacer cualquier tipo de portal, ya sea un propio blog como una tienda online, reserva de cursos, páginas corporativas, Web Personales, Portales de grupos de música, etc.</p>






        </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">


<div class="post-entry">

<div id="accordion-77-566fc4dbb5064" class="wk-accordion wk-accordion-default clearfix"  data-widgetkit="accordion" data-options='{"style":"default","collapseall":0,"matchheight":1,"index":0,"duration":500,"width":"auto","order":"default"}'>
			<h3 class="toggler">Capítulo 1: Introducción</h3>
		<div><div class="content wk-content clearfix">1.1 Presentación<br />1.2 Descarga de Wordpress<br />1.3 Subida de Wordpress al servidor<br />1.4 Instalación</div></div>
			<h3 class="toggler">Capítulo 2: Configuración previa</h3>
		<div><div class="content wk-content clearfix">2.1 Configuración previa del servidor<br />2.2 Archivo de configuración de Wordpress<br />2.3 Empezando con Wordpress<br />2.4 Configuración manual<br /><br /><br /></div></div>
			<h3 class="toggler">Capítulo 3: Ajustes para los editores de contenido</h3>
		<div><div class="content wk-content clearfix">3.1 Modificación de los perfiles<br />3.2 Configuración ajustes de páginas<br />3.3 Configuración de las redirecciones<br />3.4 Publicación rápida<br />3.5 Configuración de lectura y comentarios</div></div>
			<h3 class="toggler">Capítulo 4: Gestión de los contenidos</h3>
		<div><div class="content wk-content clearfix">4.1 Categorías y Paginas<br />4.2 Crear una Categoría<br />4.3 Edición avanzada<br />4.4 Enlaces o Hipervínculos<br />4.5 Multimedia</div></div>
			<h3 class="toggler">Capítulo 5: Actualizaciones de Wordpress</h3>
		<div><div class="content wk-content clearfix">5.1 Copias de Seguridad<br />5.2 Actualizando</div></div>
			<h3 class="toggler">Capítulo 6: Creación de contenidos</h3>
		<div><div class="content wk-content clearfix">6.1 Creación de páginas<br />6.2 Jerarquía de páginas <br />6.3 Configuración página principal</div></div>
			<h3 class="toggler">Capítulo 7: Plugins</h3>
		<div><div class="content wk-content clearfix">7.1 Introducción<br />7.2 Instalación<br />7.3 Plugins oficiales<br />7.4 Creación de formularios<br />7.5 Posibles errores<br />7.6 Seguridad de instalación para Plugins<br />7.7 Recupercación de Wordpress<br />7.8 Redes Sociales</div></div>
			<h3 class="toggler">Capítulo 8: Temas</h3>
		<div><div class="content wk-content clearfix">8.1 Introducción a Temas<br />8.2 Temas - Instalación<br />8.3 Temas - Estructura</div></div>
			<h3 class="toggler">Capítulo 9: Estructura Wordpress</h3>
		<div><div class="content wk-content clearfix">9.1 Entrañas de Wordpress<br />9.2 Solución a problemas críticos con Wordpress</div></div>
			<h3 class="toggler">Capítulo 10: Manejo de un tema especifico.</h3>
		<div><div class="content wk-content clearfix">10.1 Tema Twenty eleven<br />10.2  Configurando la parte superior<br />10.3 Plantilla Showcase y barra Showcase Widget<br />10.4 Widget twitter<br />10.5 Formatos de entradas<br /><br /></div></div>
			<h3 class="toggler">Capítulo 11: Widgets</h3>
		<div><div class="content wk-content clearfix">11.1 Widgets<br />11.2 Widget de Texto<br />11.3 Menús personalizados<br />11.4 Gestión de usuarios</div></div>
	</div>





</div></div></div></div>


{% endblock content  %}